.cc-item {
  display: inline-block;
  border-bottom: 1px solid;
  margin-right: 12px;
}
.view.app-mail tr.unread {
  font-weight: bold;
  background: azure;
}
.view.app-mail tr.read {
  font-weight: normal;
}
.mail-item.content{
  padding: 0 2%;
}
